{% extends 'base.html' %}
{% load static %}

{% block content %}
<!--BoD cards-->
<!--BoD Faculty coordinator - right-->
<section>
    <div class="row justify-content-end">
        <div class="col-md-6">
            <div class="card m-2">
                <div class="row card-body">
                    <div class="col-md-6">
                        <h3 class="card-title">RTN. DR. VEENA NAGARAJ</h5>
                            <h5 class="card-subtitle">FACULTY COORDINATOR
                        </h3>
                    </div>
                    <img class="col-md-6" src="{% static 'images/faculty-coordinator.png' %}" alt="sans" />
                </div>
            </div>
        </div>
</section>
<!--BoD President - left-->
<section>
    <div class="row justify-content-start">
        <div class="col-md-6">
            <div class="card m-2">
                <div class="row card-body">
                    <img class="col-md-6" src="{% static 'images/president.png' %}" alt="sans" />
                    <div class="col-md-6">
                        <h3 class="card-title">RTR.NARENDRAN S</h5>
                            <h5 class="card-subtitle">PRESIDENT</h5>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
</section>
<!--BoD club advisor-->
<section>
    <div class="row justify-content-end">
        <div class="col-md-6">
            <div class="card m-2">
                <div class="row card-body">
                    <div class="col-md-6">
                        <h3 class="card-title">RTR. SHARANYA SHRIDHAR</h5>
                            <h5 class="card-subtitle">CLUB ADVISOR AND IMMEDIATE PAST PRESIDENT</h5>
                        </h3>
                    </div>
                    <img class="col-md-6" src="{% static 'images/club-advisor.png' %}" alt="sans" />
                </div>
            </div>
        </div>
</section>
<!--Secretary-->
<section>
    <div class="row justify-content-start">
        <div class="col-md-6">
            <div class="card m-2">
                <div class="row card-body">
                    <img class="col-md-6" src="{% static 'images/secretary.png' %}" alt="sans" />
                    <div class="col-md-6">
                        <h3 class="card-title">RTR. JAVERIYA TABASSUM</h5>
                            <h5 class="card-subtitle">SECRETARY</h5>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
</section>
<!--vice president-->
<section>
    <div class="row justify-content-end">
        <div class="col-md-6">
            <div class="card m-2">
                <div class="row card-body">
                    <div class="col-md-6">
                        <h3 class="card-title">RTR. ROSHNI SHRIDHARAN</h5>
                            <h5 class="card-subtitle">VICE PRESIDENT</h5>
                        </h3>
                    </div>
                    <img class="col-md-6" src="{% static 'images/vice-president.png' %}" alt="sans" />
                </div>
            </div>
        </div>
</section>
<!--joint secretary-->
<section>
    <div class="row justify-content-start">
        <div class="col-md-6">
            <div class="card m-2">
                <div class="row card-body">
                    <img class="col-md-6" src="{% static 'images/joint-secretary.png' %}" alt="sans" />
                    <div class="col-md-6">
                        <h3 class="card-title">RTR. NAVYA N SHASTRY</h5>
                            <h5 class="card-subtitle">JOINT SECRETARY</h5>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
</section>
<!--treasurer-->
<section>
    <div class="row justify-content-end">
        <div class="col-md-6">
            <div class="card m-2">
                <div class="row card-body">
                    <div class="col-md-6">
                        <h3 class="card-title">RTR. MANOJ K P</h5>
                            <h5 class="card-subtitle">TREASURER
                        </h3>
                    </div>
                    <img class="col-md-6" src="{% static 'images/treasurer.png' %}" alt="sans" />
                </div>
            </div>
        </div>
</section>
<!--seargeant at arms-->
<section>
    <div class="row justify-content-start">
        <div class="col-md-6">
            <div class="card m-2">
                <div class="row card-body">
                    <img class="col-md-6" src="{% static 'images/seargeant-at-arms.png' %}" alt="sans" />
                    <div class="col-md-6">
                        <h3 class="card-title">RTR. RANJANA Y</h5>
                            <h5 class="card-subtitle">SERGEANT AT ARMS</h5>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
</section>
<!--community service director-->
<section>
    <div class="row justify-content-end">
        <div class="col-md-6">
            <div class="card m-2">
                <div class="row card-body">
                    <div class="col-md-6">
                        <h3 class="card-title">RTR. PRAVEEN P</h5>
                            <h5 class="card-subtitle">COMMUNITY SERVICE DIRECTOR
                        </h3>
                    </div>
                    <img class="col-md-6" src="{% static 'images/community-service-dir.png' %}" alt="sans" />
                </div>
            </div>
        </div>
</section>
<!--proffesional development director-->
<section>
    <div class="row justify-content-start">
        <div class="col-md-6">
            <div class="card m-2">
                <div class="row card-body">
                    <img class="col-md-6" src="{% static 'images/professional-dev-dir.png' %}" alt="sans" />
                    <div class="col-md-6">
                        <h3 class="card-title">RTR. UNNATHI U</h5>
                            <h5 class="card-subtitle">PROFESSIONAL DEVELOPMENT DIRECTOR
                        </h3>
                    </div>
                </div>
            </div>
        </div>
</section>
<!--intl service director-->
<section>
    <div class="row justify-content-end">
        <div class="col-md-6">
            <div class="card m-2">
                <div class="row card-body">
                    <div class="col-md-6">
                        <h3 class="card-title">RTR. SUNIDHI M N</h5>
                            <h5 class="card-subtitle">INTERNATIONAL SERVICE DIRECTOR</h5>
                        </h3>
                    </div>
                    <img class="col-md-6" src="{% static 'images/intl-service-dir.png' %}" alt="sans" />
                </div>
            </div>
        </div>
</section>
<!--club service director-->
<section>
    <div class="row justify-content-start">
        <div class="col-md-6">
            <div class="card m-2">
                <div class="row card-body">
                    <img class="col-md-6" src="{% static 'images/club-service-dir.png' %}" alt="sans" />
                    <div class="col-md-6">
                        <h3 class="card-title">RTR. R LAKSHMI SHREE</h5>
                            <h5 class="card-subtitle">CLUB SERVICE DIRECTOR
                        </h3>
                    </div>
                </div>
            </div>
        </div>
</section>
<!--pr and editorial director-->
<section>
    <div class="row justify-content-end">
        <div class="col-md-6">
            <div class="card m-2">
                <div class="row card-body">
                    <div class="col-md-6">
                        <h3 class="card-title">RTR. HARSHITA KAUR</h5>
                            <h5 class="card-subtitle">PR AND EDITORIAL DIRECTOR
                        </h3>
                    </div>
                    <img class="col-md-6" src="{% static 'images/pr-editorial-dir.png' %}" alt="sans" />
                </div>
            </div>
        </div>
</section>
<!--pr and editorial co director-->
<section>
    <div class="row justify-content-start">
        <div class="col-md-6">
            <div class="card m-2">
                <div class="row card-body">
                    <img class="col-md-6" src="{% static 'images/pr-editorial-co-dir.png' %}" alt="sans" />
                    <div class="col-md-6">
                        <h3 class="card-title">RTR. DEEPAK K</h5>
                            <h5 class="card-subtitle">PR AND EDITORIAL CO-DIRECTOR</h5>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
</section>
<!--technical head-->
<section>
    <div class="row justify-content-end">
        <div class="col-md-6">
            <div class="card m-2">
                <div class="row card-body">
                    <div class="col-md-6">
                        <h3 class="card-title">RTR. ANANT VIKRAMADITYA RAIKAR</h5>
                            <h5 class="card-subtitle">TECHNICAL HEAD</h5>
                        </h3>
                    </div>
                    <img class="col-md-6" src="{% static 'images/technical-head.png' %}" alt="sans" />
                </div>
            </div>
        </div>
</section>

{% endblock content %}