{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/certificate.css' %}">
{% endblock stylesheet %}

{% block content %}
<!--Main section-->
<main class="mt-3 mb-5">
    <!--header-->
    <div class="header" style="color: white">
        <h2 class="display-2 mb-5">Lets Get Quizzical</h2>
    </div>
    <p class="thank-note fs-1 mb-5">Thank you for participating in Let's Get Quizzical as a part of the
        Rotaract Week!</p>
    <p class="certificate-info fs-2">Download your certificate from below:</p>
    <a href="#" id="certificate" class="fs-3">Certificate</a>
</main>
<!--End of main section-->
{% endblock content %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js">
</script>
<script>window.addEventListener("DOMContentLoaded", function () {
        confetti({ particleCount: 200, spread: 180 });
    })</script>
{% endblock script %}