{% extends 'base.html' %}

{% block content %}
<!--questions-->
<form name="quiz" id="question-form">
    <div class="questions">
        <!--Set 1-->
        <div class="set-1">
            <div class="accordion open" id="accordionPanelsStayOpenExample">
                <!--Question 1-->
                <div class="accordion-item m-2 acc-trans" id="acc-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-mdb-toggle="collapse"
                            data-mdb-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseOne">
                            1. Rotary fights to eradicate which of these diseases?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                        aria-labelledby="headingOne">
                        <div class="accordion-body">
                            <!--Options-->
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question1" id="flexRadioDefault1"
                                    value="Small Pox" />
                                <label class="form-check-label" for="flexRadioDefault1"> Small
                                    Pox
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question1" id="flexRadioDefault1"
                                    value="Plague" />
                                <label class="form-check-label" for="flexRadioDefault1"> Plague
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question1" id="flexRadioDefault1"
                                    value="Polio" />
                                <label class="form-check-label" for="flexRadioDefault1"> Polio
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question1" id="flexRadioDefault1"
                                    value="Yellow Fever" />
                                <label class="form-check-label" for="flexRadioDefault1"> Yellow
                                    Fever
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Question 2-->
                <div class="accordion-item m-2 acc-trans">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button" type="button" data-mdb-toggle="collapse"
                            data-mdb-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseTwo">
                            2. Rotaract stands for Rotary in Action
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show"
                        aria-labelledby="headingTwo">
                        <div class="accordion-body">
                            <div class="accordion-body">
                                <!--Options-->
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="question2" id="flexRadioDefault1"
                                        value="True" />
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        True
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="question2" id="flexRadioDefault1"
                                        value="False" />
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        False
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!--Question 3-->
                <div class="accordion-item m-2 acc-trans">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button " type="button" data-mdb-toggle="collapse"
                            data-mdb-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseThree">
                            3. 'Navratna' is a Club service project on the occasion of:
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show"
                        aria-labelledby="headingThree">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question3" id="flexRadioDefault1"
                                    value="Navratri" />
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Navratri
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question3" id="flexRadioDefault1"
                                    value="Gandhi Jayanti" />
                                <label class="form-check-label" for="flexRadioDefault1">Gandhi
                                    Jayanti
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question3" id="flexRadioDefault1"
                                    value="Teachers' day" />
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Teachers' day
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question3" id="flexRadioDefault1"
                                    value="Deepavali" />
                                <label class="form-check-label" for="flexRadioDefault1">Deepavali
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Question 4-->
                <div class="accordion-item m-2 acc-trans">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button " type="button" data-mdb-toggle="collapse"
                            data-mdb-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseThree">
                            4. What was our special project for the year 2021-22?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show"
                        aria-labelledby="headingThree">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question4" id="flexRadioDefault1"
                                    value="Blood Donation Camp />
        <label class=" form-check-label" for="flexRadioDefault1"> Blood Donation Camp
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question4" id="flexRadioDefault1"
                                    value="Enriching Future" />
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Enriching Future
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question4" id="flexRadioDefault1"
                                    value="Tag The Tree" />
                                <label class="form-check-label" for="flexRadioDefault1">Tag The
                                    Tree
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question4" id="flexRadioDefault1"
                                    value="Concept to Creation" />
                                <label class="form-check-label" for="flexRadioDefault1">Concept
                                    to Creation
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Question 5-->
                <div class="accordion-item m-2 acc-trans">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button " type="button" data-mdb-toggle="collapse"
                            data-mdb-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseThree">
                            5. What does the Letter I in AIKYA stand for?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show"
                        aria-labelledby="headingThree">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question5" id="flexRadioDefault1"
                                    value="Impactful service" />
                                <label class="form-check-label" for="flexRadioDefault1">Impactful service
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question5" id="flexRadioDefault1"
                                    value="Impactful gender equality projects" />
                                <label class="form-check-label" for="flexRadioDefault1">Impactful gender equality
                                    projects
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question5" id="flexRadioDefault1"
                                    value="Impactful support to environment" />
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Impactful support to
                                    environment
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question5" id="flexRadioDefault1"
                                    value="Impactful career development initiatives" />
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Impactful career development
                                    initiatives
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Set 2-->
        <div class="set-2">
            <div class="accordion open" id="accordionPanelsStayOpenExample">
                <!--Question 6-->
                <div class="accordion-item m-2 acc-trans">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-mdb-toggle="collapse"
                            data-mdb-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseOne">
                            6. How many Board of directors are there in the team 2021-22?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                        aria-labelledby="headingOne">
                        <div class="accordion-body">
                            <!--Options-->
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question6" id="flexRadioDefault1"
                                    value="15" />
                                <label class="form-check-label" for="flexRadioDefault1"> 15
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question6" id="flexRadioDefault1"
                                    value="13" />
                                <label class="form-check-label" for="flexRadioDefault1"> 13
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question6" id="flexRadioDefault1"
                                    value="12" />
                                <label class="form-check-label" for="flexRadioDefault1"> 12
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question6" id="flexRadioDefault1"
                                    value="10" />
                                <label class="form-check-label" for="flexRadioDefault1"> 10
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Question 7-->
                <div class="accordion-item m-2 acc-trans">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button" type="button" data-mdb-toggle="collapse"
                            data-mdb-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseTwo">
                            7. Who is the International Service Director for the year 2021-22?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show"
                        aria-labelledby="headingTwo">
                        <div class="accordion-body">
                            <div class="accordion-body">
                                <!--Options-->
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="question7" id="flexRadioDefault1"
                                        value="Praveen P" />
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Praveen P
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="question7" id="flexRadioDefault1"
                                        value="Manoj K P" />
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Manoj K P
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="question7" id="flexRadioDefault1"
                                        value="Sunidhi M N" />
                                    <label class="form-check-label" for="flexRadioDefault1">Sunidhi M N
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="question7" id="flexRadioDefault1"
                                        value="Deepak K" />
                                    <label class="form-check-label" for="flexRadioDefault1">Deepak K
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Question 8-->
                <div class="accordion-item m-2 acc-trans">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button " type="button" data-mdb-toggle="collapse"
                            data-mdb-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseThree">
                            8. Which of the following is not a correct mapping of the service
                            avenue to its fundamental
                            description?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show"
                        aria-labelledby="headingThree">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question8" id="flexRadioDefault1"
                                    value="Professional Development: Providing personal and career development opportunities for members" />
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Professional Development:
                                    Providing personal and career development opportunities for
                                    members
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question8" id="flexRadioDefault1"
                                    value="Community Service: Organizing sustainable initiatives to serve needy communities outside Rotaract" />
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Community Service: Organizing
                                    sustainable initiatives to serve needy communities outside
                                    Rotaract
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question8" id="flexRadioDefault1"
                                    value="Club Service: Organizing fundraisers to finance the club projects" />
                                <label class="form-check-label" for="flexRadioDefault1"> Club
                                    Service: Organizing
                                    fundraisers to finance the club projects
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question8" id="flexRadioDefault1"
                                    value="International Service: Conducting service projects for communities outside national boundaries and enhancing the knowledge of members about the world" />
                                <label class="form-check-label" for="flexRadioDefault1">
                                    International Service:
                                    Conducting service projects for communities outside national
                                    boundaries and
                                    enhancing the knowledge of members about the world
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Question 9-->
                <div class="accordion-item m-2 acc-trans">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button " type="button" data-mdb-toggle="collapse"
                            data-mdb-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseThree">
                            9. Which is MES Rotaract Club's flagship Project?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show"
                        aria-labelledby="headingThree">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question9" id="flexRadioDefault1"
                                    value="Blood Donation Camp" />
                                <label class="form-check-label" for="flexRadioDefault1"> Blood
                                    Donation Camp
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question9" id="flexRadioDefault1"
                                    value="Eco Ganesha rally" />
                                <label class="form-check-label" for="flexRadioDefault1"> Eco
                                    Ganesha rally
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question9" id="flexRadioDefault1"
                                    value="Navratna" />
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Navratna
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question9" id="flexRadioDefault1"
                                    value="Concept to Creation" />
                                <label class="form-check-label" for="flexRadioDefault1"> Concept
                                    to Creation
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Question 10-->
                <div class="accordion-item m-2 acc-trans">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button" type="button" data-mdb-toggle="collapse"
                            data-mdb-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseThree">
                            10. In which year was the MES Rotaract Club chartered?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show"
                        aria-labelledby="headingThree">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question10" id="flexRadioDefault1"
                                    value="2018" />
                                <label class="form-check-label" for="flexRadioDefault1"> 2018
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question10" id="flexRadioDefault1"
                                    value="2016" />
                                <label class="form-check-label" for="flexRadioDefault1"> 2016
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question10" id="flexRadioDefault1"
                                    value="2014" />
                                <label class="form-check-label" for="flexRadioDefault1"> 2014
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question10" id="flexRadioDefault1"
                                    value="2015" />
                                <label class="form-check-label" for="flexRadioDefault1"> 2015
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Set 3-->
        <div class="set-3">
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <!--Question 11-->
                <div class="accordion-item m-2 acc-trans" id="acc-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-mdb-toggle="collapse"
                            data-mdb-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseOne">
                            11. What is the Tag Line of MES Rotaract theme of the year 2021-22?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                        aria-labelledby="headingOne">
                        <div class="accordion-body">
                            <!--Options-->
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question11" id="flexRadioDefault1"
                                    value="Service Above Self" />
                                <label class="form-check-label" for="flexRadioDefault1"> Service
                                    Above Self
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question11" id="flexRadioDefault1"
                                    value="Together We Can" />
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Together We Can
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question11" id="flexRadioDefault1"
                                    value="Unity in Service" />
                                <label class="form-check-label" for="flexRadioDefault1"> Unity
                                    in Service
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question11" id="flexRadioDefault1"
                                    value="United and Focused" />
                                <label class="form-check-label" for="flexRadioDefault1"> United
                                    and Focused
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Question 12-->
                <div class="accordion-item m-2 acc-trans">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button " type="button" data-mdb-toggle="collapse"
                            data-mdb-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseTwo">
                            12. 13th March is celebrated as___Rotaractors and Rotarians
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show"
                        aria-labelledby="headingTwo">
                        <div class="accordion-body">
                            <div class="accordion-body">
                                <!--Options-->
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="question12"
                                        id="flexRadioDefault1" value="World Polio Day" />
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        World Polio Day
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="question12"
                                        id="flexRadioDefault1" value="World Rotaract Day" />
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        World Rotaract Day
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="question12"
                                        id="flexRadioDefault1" value="International Women's day" />
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        International Women's day
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="question12"
                                        id="flexRadioDefault1" value="National Youth Day" />
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        National Youth Day
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Question 13-->
                <div class="accordion-item m-2 acc-trans">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button " type="button" data-mdb-toggle="collapse"
                            data-mdb-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseThree">
                            13. Who is the President of Rotary International for RIY 2021-22?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show"
                        aria-labelledby="headingThree">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question13" id="flexRadioDefault1"
                                    value="Jennifer E Jones" />
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Jennifer E Jones
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question13" id="flexRadioDefault1"
                                    value="Paul P Harris" />
                                <label class="form-check-label" for="flexRadioDefault1"> Paul P
                                    Harris
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question13" id="flexRadioDefault1"
                                    value="Holger Knaack" />
                                <label class="form-check-label" for="flexRadioDefault1"> Holger
                                    Knaack
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question13" id="flexRadioDefault1"
                                    value="Shekhar Mehta" />
                                <label class="form-check-label" for="flexRadioDefault1"> Shekhar
                                    Mehta
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Question 14-->
                <div class="accordion-item m-2 acc-trans">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button " type="button" data-mdb-toggle="collapse"
                            data-mdb-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseThree">
                            14. How many platinum recognitions has our club been recognised
                            with?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show"
                        aria-labelledby="headingThree">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question14" id="flexRadioDefault1"
                                    value="1" />
                                <label class="form-check-label" for="flexRadioDefault1"> 1
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question14" id="flexRadioDefault1"
                                    value="2" />
                                <label class="form-check-label" for="flexRadioDefault1"> 2
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question14" id="flexRadioDefault1"
                                    value="3" />
                                <label class="form-check-label" for="flexRadioDefault1"> 3
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question14" id="flexRadioDefault1"
                                    value="none" />
                                <label class="form-check-label" for="flexRadioDefault1"> None
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Question 15-->
                <div class="accordion-item m-2 acc-trans">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button " type="button" data-mdb-toggle="collapse"
                            data-mdb-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseThree">
                            15. Which Rotary International District does our club belong to?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show"
                        aria-labelledby="headingThree">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question15" id="flexRadioDefault1"
                                    value="R.I. Dist - 3190" />
                                <label class="form-check-label" for="flexRadioDefault1"> R.I.
                                    Dist - 3190
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question15" id="flexRadioDefault1"
                                    value="R.I. Dist - 3181" />
                                <label class="form-check-label" for="flexRadioDefault1"> R.I.
                                    Dist - 3181
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question15" id="flexRadioDefault1"
                                    value="R.I. Dist - 3060" />
                                <label class="form-check-label" for="flexRadioDefault1"> R.I.
                                    Dist - 3060
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question15" id="flexRadioDefault1"
                                    value="R.I. Dist - 3280" />
                                <label class="form-check-label" for="flexRadioDefault1"> R.I.
                                    Dist - 3280
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Set 4-->
        <div class="set-4">
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <!--Question 16-->
                <div class="accordion-item m-2 acc-trans">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-mdb-toggle="collapse"
                            data-mdb-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseOne">
                            16. Rotary is same as Rotaract
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                        aria-labelledby="headingOne">
                        <div class="accordion-body">
                            <!--Options-->
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question16" id="flexRadioDefault1"
                                    value="True" />
                                <label class="form-check-label" for="flexRadioDefault1"> True
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question16" id="flexRadioDefault1"
                                    value="False" />
                                <label class="form-check-label" for="flexRadioDefault1"> False
                                </label>
                            </div>

                        </div>
                    </div>
                </div>
                <!--Question 17-->
                <div class="accordion-item m-2 acc-trans">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button " type="button" data-mdb-toggle="collapse"
                            data-mdb-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseTwo">
                            17. Which Zone does the MES Rotaract Club belong to?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show"
                        aria-labelledby="headingTwo">
                        <div class="accordion-body">
                            <div class="accordion-body">
                                <!--Options-->
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="question17"
                                        id="flexRadioDefault1" value="Zone Indigo" />
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Zone Indigo
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="question17"
                                        id="flexRadioDefault1" value="Zone Red" />
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Zone Red
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="question17"
                                        id="flexRadioDefault1" value="Zone Violet" />
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Zone Violet
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="question17"
                                        id="flexRadioDefault1" value="Zone Blue" />
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Zone Blue
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Question 18-->
                <div class="accordion-item m-2 acc-trans">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button " type="button" data-mdb-toggle="collapse"
                            data-mdb-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseThree">
                            18. Which club is our Sponsor Rotary club?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show"
                        aria-labelledby="headingThree">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question18" id="flexRadioDefault1"
                                    value="Rotary Club of Bangalore" />
                                <label class="form-check-label" for="flexRadioDefault1"> Rotary
                                    Club of Bangalore
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question18" id="flexRadioDefault1"
                                    value="Rotary Bangalore Midtown" />
                                <label class="form-check-label" for="flexRadioDefault1"> Rotary
                                    Bangalore Midtown
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question18" id="flexRadioDefault1"
                                    value="Rotary Bangalore Rajajinagar" />
                                <label class="form-check-label" for="flexRadioDefault1"> Rotary
                                    Bangalore Rajajinagar
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question18" id="flexRadioDefault1"
                                    value="Rotary Bangalore North West" />
                                <label class="form-check-label" for="flexRadioDefault1"> Rotary
                                    Bangalore North West
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Question 19-->
                <div class="accordion-item m-2 acc-trans">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button " type="button" data-mdb-toggle="collapse"
                            data-mdb-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseThree">
                            19. What is the age limit to be a Rotaractor?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show"
                        aria-labelledby="headingThree">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question19" id="flexRadioDefault1"
                                    value="15 years and below" />
                                <label class="form-check-label" for="flexRadioDefault1"> 15
                                    years and below
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question19" id="flexRadioDefault1"
                                    value="18 - 30" />
                                <label class="form-check-label" for="flexRadioDefault1"> 18 - 30
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question19" id="flexRadioDefault1"
                                    value="15 - 25 years" />
                                <label class="form-check-label" for="flexRadioDefault1"> 15 - 25
                                    years
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question19" id="flexRadioDefault1"
                                    value="15 - 30 years" />
                                <label class="form-check-label" for="flexRadioDefault1"> 15 - 30
                                    years
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Question 20-->
                <div class="accordion-item m-2 acc-trans">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button " type="button" data-mdb-toggle="collapse"
                            data-mdb-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseThree">
                            20. Who collars the President before the commencement of an official
                            meeting?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show"
                        aria-labelledby="headingThree">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question20" id="flexRadioDefault1"
                                    value="Vice President" />
                                <label class="form-check-label" for="flexRadioDefault1"> Vice
                                    President
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question20" id="flexRadioDefault1"
                                    value="Joint Secretary" />
                                <label class="form-check-label" for="flexRadioDefault1"> Joint
                                    Secretary
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question20" id="flexRadioDefault1"
                                    value="Sergeant of the club" />
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Sergeant of the club
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="question20" id="flexRadioDefault1"
                                    value="Secretary" />
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Secretary
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!--end of questions-->
<!--Page buttons-->
<span class="prevBtn">
    <button type="button" class="btn btn-light page-2-btn" data-mdb-ripple-color="dark">Prev
    </button>
</span>
<span class="nextBtn">
    <button type="button" class="btn btn-light page-2-btn" data-mdb-ripple-color="dark">Next</button>
</span>
<!--end of page buttons-->
<!--submit button-->
<div class="submit-btn">
    <a class="btn btn-outline-light btn-rounded m-2 btn-lg" href="{% url 'certificate'%}" role="button"
        id="submit-btn">Submit</a>
</div>
{% endblock content %}