.accordion-body {
    text-align: left;
    background: transparent;
    color: white;
}

.hide {
    display: none;
}

.accordion-item.acc-trans {
    background: transparent;
}

#home-head, #heading3 {
    font-family: 'Sansita Swashed', cursive;
    word-spacing: 0.15em;}

#body-para {
    font-family: 'Hubballi', cursive;
    color: white;
}